@font-face {
  font-family: "iconfont"; /* Project id 3961260 */
  src: url('iconfont.woff2?t=1680225915388') format('woff2'),
       url('iconfont.woff?t=1680225915388') format('woff'),
       url('iconfont.ttf?t=1680225915388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e64f";
}

.icon-moon-fill:before {
  content: "\e6c0";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-xiangshang2:before {
  content: "\e633";
}

.icon-xiangshang5:before {
  content: "\e665";
}

.icon-Upxiangshang24:before {
  content: "\e6e0";
}

.icon-suo1:before {
  content: "\e621";
}

.icon-suo2:before {
  content: "\e61d";
}

.icon-yuechi2:before {
  content: "\e6b4";
}

.icon-shejiao:before {
  content: "\e60a";
}

.icon-ziliaowenku:before {
  content: "\e66f";
}

.icon-lishigongwenku_xinzeng:before {
  content: "\e68c";
}

.icon-tuichu3:before {
  content: "\e666";
}

.icon-github3:before {
  content: "\e743";
}

.icon-youxiang:before {
  content: "\e632";
}

.icon-14:before {
  content: "\e613";
}

.icon-csdn:before {
  content: "\e60c";
}

.icon-dingwei3:before {
  content: "\e63e";
}

.icon-dianzan:before {
  content: "\e609";
}

.icon-gongkai:before {
  content: "\e629";
}

