@font-face {
  font-family: "iconfont"; /* Project id 3961260 */
  src: url('iconfont.woff2?t=1680077079995') format('woff2'),
       url('iconfont.woff?t=1680077079995') format('woff'),
       url('iconfont.ttf?t=1680077079995') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e6ca";
}

.icon-suo1:before {
  content: "\e621";
}

.icon-suo2:before {
  content: "\e61d";
}

.icon-key:before {
  content: "\e693";
}

.icon-yuechi:before {
  content: "\e60b";
}

.icon-yuechi1:before {
  content: "\e6ed";
}

.icon-yuechi2:before {
  content: "\e6b4";
}

.icon-shejiao:before {
  content: "\e60a";
}

.icon-ziliaowenku:before {
  content: "\e66f";
}

.icon-lishigongwenku_xinzeng:before {
  content: "\e68c";
}

.icon-tuichu1:before {
  content: "\e63b";
}

.icon-tuichu3:before {
  content: "\e666";
}

.icon-github3:before {
  content: "\e743";
}

.icon-youxiang:before {
  content: "\e632";
}

.icon-14:before {
  content: "\e613";
}

.icon-csdn:before {
  content: "\e60c";
}

.icon-dingwei2:before {
  content: "\e63c";
}

.icon-dingwei3:before {
  content: "\e63e";
}

.icon-dianzan:before {
  content: "\e609";
}

.icon-gongkai:before {
  content: "\e629";
}

