* {
    padding: 0;
    margin: 0;
    /* background-color: #fff; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body, #app{
    height: 100%;
    background-color: var(--gray);

}
:root {
    --main-bg-color:#F4C8D8;
    --main-font-color:#E793B4;
    --black:#000;
    --white:#fff;
    --gray:#fafafa
}

html {
    font-size: 16px;
}

a {
    color: #333;
}
input, textarea, button, select, option{
    outline: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
.clearfix::after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}

.container {
    width: 82.5rem;
    min-height: 50rem;
    margin: 6.25rem auto 0;
    padding: .625rem 0;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.container .left{
    flex:3;
    margin-right: .625rem;
  }
.container .right{
    height: 100%;
    flex: 1;
    position: sticky;
    top: 6.25rem;
}

/* 多行省略号 */
.row1{
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
}
.row2{
    -webkit-line-clamp: 2;
    max-height: 3rem;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }